@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
html,
body {
  background-color: #2d2d35;
}
.React {
  width: 100px;
  padding: 15px 10px;
}
.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
}
h1,
h3 {
  color: #66ccec;
}
button {
  border: 1px solid white;
  background: transparent;
  padding: 10px;
  color: white;
  margin: 2px;
}
button:visited {
  background: #2d2d35;
}
